{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="alert alert-success">
            <h4>Welcome {{ app.user.userIdentifier }}!</h4>
        </div>
        <div class="row">
            {% for maxfield in maxfields %}
            <div class="col-1">
                <a class="btn btn-outline-success" href="{{ path('maxfield_play', {'id': maxfield.id}) }}">{{ maxfield.name }}</a>

            </div>
            {% endfor %}
        </div>
    {% else %}
        <h4>
            Please <a href="{{ path('login') }}">log in</a>!
        </h4>
    {% endif %}
{% endblock %}
