{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_AGENT') %}
        <div {{ stimulus_controller('reload-content', {
            url: path('default', { favourites: 1 })
        }) }}
                data-action="like:success->reload-content#refreshContent"
        >
            <div data-reload-content-target="content">
                {{ include('default/_favourites.html.twig') }}
            </div>
            {{ include('_/_searchbox.html.twig') }}
            <div {{ stimulus_controller('like') }}>
                {% for row in maxfields|batch(4) %}
                    <div class="row">
                        {% for maxfield in row %}
                            <div class="col-3 border border-info">
                                <div class="row">
                                    <div class="col-1">
                                        {% if maxfield.owner == app.user %}
                                            <i class="bi bi-star-fill text-warning"></i>
                                        {% endif %}
                                    </div>
                                    <div class="col-9 text-center">
                                        <img src="{{ previewImage(maxfield) | imagine_filter('squared_thumbnail') }}"
                                             alt="Preview"
                                            class="img-fluid"
                                        >
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-danger"
                                                data-action="like#toggle"
                                                data-like-url-param="{{ path('maxfield_toggle_favourite', {'id': maxfield.id}) }}"
                                        >
                                            <i class="bi bi-heart{% if maxfield in favourites %}-fill{% endif %}"></i>
                                        </button>
                                    </div>
                                </div>

                                <a class="btn btn-outline-success col-12"
                                   href="{{ path('maxfield_play', {'path': maxfield.path}) }}">
                                    {{ maxfield.name }}
                                </a>

                            </div>
                        {% endfor %}
                    </div>

                {% else %}
                    {% if searchTerm %}
                        <div class="alert alert-primary">
                            There are no items matching your search term :(
                        </div>
                    {% else %}
                        <div class="alert alert-primary">
                            You don't have any maxfields yet. <code>:(</code><br>
                            You may
                            <a href="{{ path('map-maxfield') }}">Create your first maxfield</a>
                            or <a href="{{ path('maxfields') }}">Play a maxfield from another user ;)</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <hr>
    {% elseif app.user %}
        <h4 class="alert alert-warning">
            Welcome {{ app.user.identifier }}.<br>
            Please contact an administrator to fully unlock your account!
        </h4>
    {% else %}
        <h4>
            Please <a href="{{ path('login') }}">log in</a>!
        </h4>
    {% endif %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <img src="https://user-images.githubusercontent.com/33978/206504470-ec700fe1-66d6-4da4-9b74-4d601239da2e.gif"
                 class="img-fluid"
                 alt="Plan movie"
            >
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
