{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_AGENT') %}
        <div {{ stimulus_controller('reload-content', {
            url: path('default', { partial: 'favourites' }),
            url2: path('default', { partial: 'contentList' }),
        }) }}
                data-action="like:success->reload-content#refreshContent"
        >
            <div data-reload-content-target="content">
                {{ include('default/_favourites.html.twig') }}
            </div>
            {{ include('_/_searchbox.html.twig') }}
            <div {{ stimulus_controller('like')|
            stimulus_controller('modal-form') }}
                    data-action="modal-form:closed->reload-content#refreshContent modal-form:closed->reload-content#refreshContent2"
            >
                <div {{ stimulus_controller('submit-confirm', {
                    title: 'Remove this item?',
                    icon: 'warning',
                    confirmButtonText: 'Yes, remove it',
                    submitAsync: true,
                }) }}
                        data-action="submit-confirm:async:submitted->reload-content#refreshContent submit-confirm:async:submitted->reload-content#refreshContent2"
                        data-reload-content-target="content2"

                >
                    {{ include('default/_contentList.html.twig') }}
                </div>
                {{ include('_modal.html.twig', {
                    modalTitle: 'Edit Maxfield',
                }) }}

            </div>
        </div>
        <hr>
    {% elseif app.user %}
        <h4 class="alert alert-warning">
            Welcome {{ app.user.identifier }}.<br>
            Please contact an administrator to fully unlock your account!
        </h4>
    {% else %}
        <h4>
            Please <a href="{{ path('login') }}">log in</a>!
        </h4>
    {% endif %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <img src="https://user-images.githubusercontent.com/33978/206504470-ec700fe1-66d6-4da4-9b74-4d601239da2e.gif"
                 class="img-fluid"
                 alt="Plan movie"
            >
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}
