{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_AGENT') %}
        {% for row in maxfields|batch(4) %}
            <div class="row">
                {% for maxfield in row %}
                    <div class="col-3">
                        <a class="btn btn-outline-success"
                           href="{{ path('maxfield_play', {'path': maxfield.path}) }}">
                            {{ maxfield.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% elseif app.user %}
        <h4 class="alert alert-warning">Welcome {{ app.user.identifier }}.<br>Please contact an administrator to fully
            unlock your account!</h4>
    {% else %}
        <h4>
            Please <a href="{{ path('login') }}">log in</a>!
        </h4>
    {% endif %}
        <img
                src="https://user-images.githubusercontent.com/33978/206504470-ec700fe1-66d6-4da4-9b74-4d601239da2e.gif"
                class="img-fluid"
                alt="Plan movie"
        >
{% endblock %}
