<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="
    {%- if 'dev' == app.environment -%}
        {{ asset('favicon-dev.ico') }}
    {%- else -%}
        {{ asset('favicon.ico') }}
    {%- endif -%}
    "/>

    <title>{% block title %}Maxfielder{% endblock %}</title>
    <meta name="og:title" content="{% block og_title %}Maxfielder Map{% endblock %}"/>
    <meta name="og:description" content="{% block og_description %}Maxfielder Map{% endblock %}"/>
    <meta name="og:image" content="{% block og_image %}{{ absolute_url(asset('build/images/link_map_example.png')) }}{% endblock %}"/>

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</head>

<body id="app-layout">

{% include '_menu.html.twig' %}

<noscript><h1 class="alert alert-danger">Please activate Javascript</h1></noscript>

{% include ('_flash-messages.html.twig') %}

{% block body %}{% endblock %}

</body>
</html>
