<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Maxfielder">
    <meta name="author" content="elkuku">

    <link rel="icon" type="image/x-icon" href="
    {%- if 'dev' == app.environment -%}
        {{ asset('favicon-dev.ico') }}
    {%- else -%}
        {{ asset('favicon.ico') }}
    {%- endif -%}
    "/>

    <title>{% block title %}Maxfielder{% endblock %}</title>
    <meta name="og:title" content="{% block og_title %}Maxfielder{% endblock %}"/>
    <meta name="og:description" content="{% block og_description %}A Maxfield Frontend{% endblock %}"/>
    <meta name="og:image"
          content="{% block og_image %}{{ absolute_url(asset('build/images/link_map_example.png')) }}{% endblock %}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <script src="{{ asset('js/color-modes.js') }}"></script>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% if not app.user %}
            <script src="https://accounts.google.com/gsi/client" async defer></script>
        {% endif %}
    {% endblock %}
</head>

<body>

<header>
    {% include ('_menu.html.twig') %}
</header>

<main role="main" class="container-fluid">
    <noscript>
        <h1 class="alert alert-danger">{{ 'Please activate JavaScript!'|trans }}</h1>
    </noscript>
    {% include ('_flash-messages.html.twig') %}
    {% block body %}{% endblock %}
</main>

</body>
</html>
