{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - MaxFields{% endblock %}

{% block body %}
    <h3>MaxFields</h3>
    <div class="d-sm-none">
        {% for maxfield in maxfields %}
            <div class="card mb-3">
                <div class="card-header">
                    <div class="float-end">
                        {% if 'running' == maxfield.status %}
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        {% endif %}
                        {{ maxfield.status }}
                    </div>
                    {{ maxfield.name }}</div>
                <div class="card-body">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-5">
                            <a class="btn btn-success" href="{{ path('maxfield_play', {'path': maxfield.path}) }}">Play</a>
                            <a class="btn btn-info"
                               href="{{ path('max_fields_result', {'path': maxfield.path}) }}">View</a>
                            <a class="btn btn-primary" href="{{ path('maxfield_view_status', {'id': maxfield.id}) }}">Status</a>
                            <a class="btn btn-warning" href="{{ path('maxfield_edit', {'id': maxfield.id}) }}">Edit</a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-danger"
                               href="{{ path('max_fields_delete', {'id': maxfield.id}) }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-none d-sm-block">
        {% for maxfield in maxfields %}
            <div class="row row-hover">
                <div class="col-1">
                    {% if 'running' == maxfield.status %}
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    {% endif %}
                    {{ maxfield.status }}</div>
                <div class="col-7">
                    <a href="{{ path('maxfield_play', {'path': maxfield.path}) }}">{{ maxfield.name }}</a>
                </div>
                <div class="col-4">
                    <a href="{{ path('max_fields_result', {'path': maxfield.path}) }}">View</a>
                    <a href="{{ path('maxfield_view_status', {'id': maxfield.id}) }}">Status</a>
                    <a href="{{ path('maxfield_edit', {'id': maxfield.id}) }}">Edit</a>
                    <a href="{{ path('max_fields_delete', {'id': maxfield.id}) }}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if maxfieldFiles %}
        <div class="alert alert-warning">There are unregistered folders...</div>
        {% for folder in maxfieldFiles %}
            <div class="row row-hover">
                <div class="col-10">
                    {{ folder }}
                </div>
                <div class="col-2">
                    <a href="{{ path('maxfield_delete_files', {'item': folder}) }}">DELETE</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
