{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - MaxFields{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 col-12">
            <h3>MaxFields</h3>
        </div>
        <div class="col-sm-9 col-12">
            {{ include('_/_searchbox.html.twig') }}
        </div>
    </div>

    <div {{ stimulus_controller('like')|
    stimulus_controller('reload-content', {
        url: path('maxfields', { partial: 'list_lg', page: page }),
        url2: path('maxfields', { partial: 'list_sm', page: page }),
    }) }}
    >
        <div {{ stimulus_controller('modal-form') |
        stimulus_controller('submit-confirm', {
            title: 'Remove this item?',
            icon: 'warning',
            confirmButtonText: 'Yes, remove it',
            submitAsync: true,
        }) }}
                {{ stimulus_action('reload-content', 'refreshContent', 'modal-form:closed')|
                stimulus_action('reload-content', 'refreshContent2', 'modal-form:closed')|
                stimulus_action('reload-content', 'refreshContent', 'submit-confirm:async:submitted')|
                stimulus_action('reload-content', 'refreshContent2', 'submit-confirm:async:submitted') }}
        >

            {#                                          #}
            {# This layout section is for small screens #}
            {#                                          #}
            {{ include('maxfield/_list_sm.html.twig') }}

            {#                                          #}
            {# This layout section is for large screens #}
            {#                                          #}
            {{ include('maxfield/_list_lg.html.twig') }}

            {{ include('_modal.html.twig', {
                modalTitle: 'Edit Maxfield',
            }) }}
        </div>
    </div>
{% endblock %}
