{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - MaxFields{% endblock %}

{% block body %}
    <h3>MaxFields</h3>
    {{ pagerfanta(pagerfanta) }}

    {# This layout section is for small screens #}
    <div class="d-sm-none">
        {% for maxfield in pagerfanta %}
            <div class="card mb-3">
                <div class="card-header">
                    <div class="float-end">
                        <button class="btn btn-sm text-danger"
                                data-controller="like"
                                data-action="like#toggle"
                                data-like-toggle-url-value="{{ path('maxfield_toggle_favourite', {'id': maxfield.id}) }}"
                        >
                            <i class="bi bi-heart{% if maxfield in favourites %}-fill{% endif %}"
                               data-like-target="heart"
                            ></i>
                        </button>
                    </div>
                    {{ maxfield.name }}
                </div>
                <div class="card-body">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-5">
                            <a class="btn btn-success"
                               href="{{ path('maxfield_play', {'path': maxfield.path}) }}">Play</a>
                            <a class="btn btn-info"
                               href="{{ path('max_fields_result', {'path': maxfield.path}) }}">View</a>
                            <a class="btn btn-primary" href="{{ path('maxfield_view_status', {'id': maxfield.id}) }}">Status</a>
                            <a class="btn btn-warning" href="{{ path('maxfield_edit', {'id': maxfield.id}) }}">Edit</a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-danger"
                               href="{{ path('max_fields_delete', {'id': maxfield.id}) }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# This layout section is for large screens #}
    <div class="d-none d-sm-block">
        {% for maxfield in pagerfanta %}
            <div class="row row-hover">

{#                <div class="col-8">#}
                    <a class="col-8" href="{{ path('maxfield_play', {'path': maxfield.path}) }}">{{ maxfield.name }}</a>
{#                </div>#}
                <div class="col-4 btn-group btn-group-sm">
                    <button class="btn btn-outline-danger btn-sm"
                            data-controller="like"
                            data-action="like#toggle"
                            data-like-toggle-url-value="{{ path('maxfield_toggle_favourite', {'id': maxfield.id}) }}"
                    >
                        <i class="bi bi-heart{% if maxfield in favourites %}-fill{% endif %}"
                           data-like-target="heart"
                        ></i>
                    </button>
                    <a class="btn btn-sm btn-outline-success" href="{{ path('maxfield_play', {'path': maxfield.path}) }}">Play</a>
                    <a class="btn btn-sm btn-outline-info" href="{{ path('max_fields_result', {'path': maxfield.path}) }}">View</a>
                    <a class="btn btn-sm btn-outline-primary" href="{{ path('maxfield_view_status', {'id': maxfield.id}) }}">Status</a>
                    <a class="btn btn-sm btn-outline-warning" href="{{ path('maxfield_edit', {'id': maxfield.id}) }}">Edit</a>
                    <a class="btn btn-sm btn-outline-danger" href="{{ path('max_fields_delete', {'id': maxfield.id}) }}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ pagerfanta(pagerfanta) }}
{% endblock %}
