{% extends 'base-map.html.twig' %}

{% block title %}{{ parent() }} - Plan{% endblock %}

{% block body %}

    <div {{ stimulus_controller('maxfield-plan', {
        lat:  defaultLat,
        lon:  defaultLon,
        zoom:  defaultZoom,
    }) }}
    >
        <div id="map"></div>

        <div id="selection-count" {{ stimulus_target('maxfield-plan', 'counter') }}>0</div>

        <div id="controls-container">
            <div id="selection-buttons" class="btn-group">
                <button id="selectToggle" title="Toggle select mode" class="btn btn-outline-success btn-sm"
                        {{ stimulus_action('maxfield-plan', 'toggleSelectMode') }}
                >
                    <span class="bi-plus-lg"></span>
                </button>
                <button id="selectRect" title="Select Rectangle" class="btn btn-outline-secondary btn-sm"
                        {{ stimulus_action('maxfield-plan', 'drawRect') }}
                >
                    <span class="bi-square"></span>
                </button>
                <button id="selectPoly" title="Select Polygon" class="btn btn-outline-secondary btn-sm"
                        {{ stimulus_action('maxfield-plan', 'drawPoly') }}
                >
                    <span class="bi-triangle"></span>
                </button>
            </div>
            <br>
            <button class="btn btn-outline-primary btn-sm"
                    {{ stimulus_action('maxfield-plan', 'showModal') }}
            >
                MaxField
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="maxfieldModal" tabindex="-1" role="dialog"
                {{ stimulus_target('maxfield-plan', 'modal') }}
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create MaxField</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{{ path('export-maxfields') }}" method="post">
                        <div class="modal-body">
                            <div class="alert" {{ stimulus_target('maxfield-plan', 'modalStatus') }}></div>
                            <div class="controls" {{ stimulus_target('maxfield-plan', 'modalControls') }}>
                                <div class="form-group row">
                                    <label for="build_name"
                                           class="col-sm-2 col-form-label col-form-label-lg">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-control-lg" name="build_name" id="build_name"
                                               placeholder="Maxfield name" required="required">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="players_num" class="col-sm-2 col-form-label">#</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="players_num" name="players_num"
                                               placeholder="Number of agents (1)">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">Skip</div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="skip_plots" name="skip_plots">
                                            <label class="form-check-label" for="skip_plots">
                                                Plots
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="skip_step_plots" name="skip_step_plots">
                                            <label class="form-check-label" for="skip_step_plots">
                                                Step Plots
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="build" class="btn btn-outline-primary btn-sm">Create MaxField</button>
                        </div>

                        <input type="hidden" name="points" {{ stimulus_target('maxfield-plan', 'modalPoints') }}>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
