{% extends 'base-map.html.twig' %}

{% block title %}
    {{ maxfield.name }}
{% endblock %}

{% block body %}
    <div {{ stimulus_controller('maxfield-play2', {
        path: maxfield.path,
        jsonData: jsonData,
        waypointIdMap :waypointIdMap,
        mapboxGlToken :mapboxGlToken
    }) }}>

        <div id="map-debug" {{ stimulus_target('maxfield-play2', 'mapDebug') }}>AAA</div>

        <div id="optionsBox" class="mapboxgl-ctrl">
            <button
                    data-action="mouseenter->maxfield-play2#optionsBoxShow"
                    data-maxfield-play2-target="optionsBoxTrigger"
            ><i class="bi-option"></i></button>
            <div id="optionsBoxContent"
                 data-action="mouseleave->maxfield-play2#optionsBoxHide"
                 data-maxfield-play2-target="optionsBox"
            >
                <label for="selStyle">Style</label>
                <select id="selStyle" class="form-select" data-action="maxfield-play2#setStyle">
                    <option value="standard">Standard</option>
                    <option value="streets-v12">Streets</option>
                    <option value="outdoors-v12">Outdoors</option>
                    <option value="light-v11">Light</option>
                    <option value="dark-v11">Dark</option>
                    <option value="satellite-v9">Satellite</option>
                    <option value="satellite-streets-v12">Satellite Streets</option>
                    <option value="navigation-day-v1">Navigation Day</option>
                    <option value="navigation-night-v1">Navigation Night</option>
                </select>
                <label for="selLayer">Layer</label>
                <select id="selLayer" class="form-select" data-action="maxfield-play2#toggleLayer">
                    <option value="">None</option>
                    <option value="farm" selected>Farm</option>
                    <option value="farm2">Farm2</option>
                    <option value="links">Links</option>
                </select>
                <hr>
                <label for="chkFollowHeading">Heading</label>
                <input type="checkbox" id="chkFollowHeading" data-action="maxfield-play2#followHeading">
            </div>
        </div>

        <div id="map"></div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Keys</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <label for="keys" class="form-label">Keys</label>
                            <textarea {{ stimulus_target('maxfield-play2', 'keys') }} name="keys" id="keys" cols="30"
                                                                                      rows="5" class="form-control"
                                                                                      required></textarea>
                            <div {{ stimulus_target('maxfield-play2', 'errorMessage') }}></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-action="maxfield-play2#uploadKeys">Save
                                changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </div>

{% endblock %}
