{% extends 'base-map.html.twig' %}

{% block title %}
    {{ maxfield.name }}
{% endblock %}

{% block body %}
    <div {{ stimulus_controller('maxfield-play2', {
        path: maxfield.path,
        jsonData: jsonData,
        waypointIdMap :waypointIdMap,
        mapboxGlToken :mapboxGlToken,
        urls:{
            'get_user_data': path('maxfield_get_user_data', {path:maxfield.path}),
            'submit_user_data': path('maxfield_submit_user_data', {path:maxfield.path}),
            'clear_user_data': path('maxfield_clear_user_data', {path:maxfield.path}),
        }
    }) }}>

        <div id="map-debug" {{ stimulus_target('maxfield-play2', 'mapDebug') }}>D3bug</div>

        <div id="zoomBox" class="mapboxgl-ctrl">
            <button class="circle-button button-toggle" data-action="maxfield-play2#toggleCenter"><i
                        class="bi-crosshair"></i></button>
            <button class="circle-button" data-action="maxfield-play2#zoomAll"><i class="bi-asterisk"></i></button>
            <button class="circle-button" data-action="maxfield-play2#zoomIn"><i class="bi-plus"></i></button>
            <button class="circle-button" data-action="maxfield-play2#zoomOut"><i class="bi-dash"></i></button>
            <button class="circle-button" data-action="maxfield-play2#rotate"><i class="bi-arrow-clockwise"></i>
            </button>
        </div>

        <div id="optionsBox" class="mapboxgl-ctrl">
            <button
                    class="optionsBoxTrigger"
                    data-action="mouseenter->maxfield-play2#optionsBoxShow"
                    data-maxfield-play2-target="optionsBoxTrigger"
            ><i class="bi-list"></i></button>
            <div id="optionsBoxContent"
                 data-action="mouseleave->maxfield-play2#optionsBoxHide"
                 data-maxfield-play2-target="optionsBox"
            >
                <label for="selStyle">Style</label>
                <select id="selStyle" class="form-select" data-action="maxfield-play2#setStyle">
                    <option value="mapbox/standard">Standard</option>
                    <option value="nikp3h/clvm8zx18043s01ph1xmu05dd">Standard Clear</option>
                    <option value="mapbox/streets-v12">Streets</option>
                    <option value="mapbox/outdoors-v12">Outdoors</option>
                    <option value="mapbox/light-v11">Light</option>
                    <option value="mapbox/dark-v11">Dark</option>
                    <option value="mapbox/satellite-v9">Satellite</option>
                    <option value="mapbox/satellite-streets-v12">Satellite Streets</option>
                    <option value="mapbox/navigation-day-v1">Navigation Day</option>
                    <option value="mapbox/navigation-night-v1">Navigation Night</option>
                </select>
                <label for="selLayer">Layer</label>
                <select id="selLayer" class="form-select" data-action="maxfield-play2#setLayer">
                    <option value="">None</option>
                    <option value="farm">Farm</option>
                    <option value="farm2" selected>Farm2</option>
                </select>

                <button class="btn btn-info" data-maxfield-play2-target="btnUploadKeys"
                        data-action="maxfield-play2#showModal">Upload Keys
                </button>
                <br>
                <label for="selProfile">Profile</label>
                <select id="selProfile" class="form-select" data-action="maxfield-play2#setProfile"
                        data-maxfield-play2-target="selProfile"
                >
                    <option value="mapbox/driving">Driving</option>
                    <option value="mapbox/walking">Walking</option>
                    <option value="mapbox/cycling" selected>Cycling</option>
                </select>
                <hr>

                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-outline-info" data-action="maxfield-play2#toggleHeading">Heading</button>
                    <button class="btn btn-info" data-action="maxfield-play2#toggleDebug">Debug</button>
                    <button class="btn btn-outline-danger"data-action="maxfield-play2#clearUserData">CLR</button>
                </div>
            </div>
        </div>

        <div id="map"></div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Keys</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <label for="keys" class="form-label">Keys</label>
                            <textarea {{ stimulus_target('maxfield-play2', 'keys') }} name="keys" id="keys" cols="30"
                                                                                      rows="5" class="form-control"
                                                                                      required></textarea>
                            <div {{ stimulus_target('maxfield-play2', 'errorMessage') }}></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-action="maxfield-play2#uploadKeys">Save
                                changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </div>

{% endblock %}
